<div *ngIf="hero" class="edit">

  <h5>Edit task:</h5>
  <div>


    <div class="input-field">
      <input [(ngModel)]="hero.title" placeholder="Title" id="taskTitle" name="taskTitle" type="text"/>
      <label for="taskTitle">Title</label>
    </div>

    <div class="input-field">
      <input [(ngModel)]="hero.description" placeholder="Description" id="taskTitle" name="taskTitle" type="text"/>
      <label for="taskTitle">Description</label>
    </div>


    <div class="input-field">
      <select>
        <option value="new" selected>To do</option>
        <option value="in progress">In progress</option>
        <option value="done">Done</option>
      </select>
      <label>Status</label>
    </div>


    <a class="waves-effect waves-light btn" (click)="save()">
      save
    </a>

  </div>

</div>