<div class="addnew">
    <h6>Add New Task:</h6>

    <div class="input-field">
        <input #taskTitle id="taskTitle" name="taskTitle" type="text" class="validate"/>
        <label for="taskTitle">Title</label>
    </div>

    <div class="input-field">
        <input #taskDesc id="taskDesc"  name="taskDesc" type="text" class="validate"/>
        <label for="taskDesc">Description</label>
    </div>

    <div class="input-field">
        <input #taskStatus id="taskStatus"  name="taskStatus" type="hidden" value="new"/>
    </div>

    <div class="input-field">
        <label class="active" for="file">Choose File</label>
        <input #taskImage type="file" id="file" (change)="handleFileInput($event.target.files)">
    </div>

    <div class="input-field">
        <!-- (click) passes input value to add() and then clears the input -->
        <a class="waves-effect waves-light btn" (click)="add(taskTitle.value, taskDesc.value, taskStatus.value); taskTitle.value=''; taskDesc.value=''; taskImage.value='';">
            Add task
        </a>
    </div>
</div>



<ul class="collection">
    <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    class="collection-item avatar">

    <!--<i class="material-icons circle">image</i>-->

    <h4>{{hero.title}}</h4>
    <p class="description">{{hero.description}}</p>

    <div class="status">
        <img *ngIf="hero.status === 'done'" class="" src="../../assets/img/done.png" alt="" height="25">
        <img *ngIf="hero.status === 'in progress'" class="" src="../../assets/img/progres.png" alt="" height="25">
        <img *ngIf="hero.status === 'new'" class="" src="../../assets/img/todo.png" alt="" height="25">
    </div>

    <div class="meta">
        <p class="block createdat">Created at: {{hero.created_at * 1000 | date:'dd.MM.yyyy'}}</p>
        <p *ngIf="hero.started_at != null" class="block startedat">Started at: {{hero.started_at * 1000 | date:'dd.MM.yyyy'}}</p>
        <p *ngIf="hero.imagefile != null" class="block img"><a target="_blank" href="http://todo.loc/backend/web/{{hero.imagefile}}"><img src="http://todo.loc/backend/web/{{hero.imagefile}}" alt="" width="50"></a></p>
    </div>

    <a class="button-delete waves-effect waves-light btn-small red"
       (click)="delete(hero)"
    ><i class="material-icons">delete</i></a>

    <a class="button-edit waves-effect waves-light btn-small blue"
       (click)="onSelect(hero)"
    ><i class="material-icons">edit</i></a>

    </li>
</ul>

<app-hero-detail [hero]="selectedHero"></app-hero-detail>
